@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/Admin/img/favicon.html">
    <title>ForgotPassword</title>

    <!-- Bootstrap core CSS -->
    <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Admin/css/style.css" rel="stylesheet">
    <link href="/Admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="/ForgotPassword" method="post">
        <h2 class="form-signin-heading">بازیابی رمز عبور</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="نام کاربری" autofocus asp-for="Username" required="required">
            <input type="text" class="form-control" placeholder="شماره تماس" autofocus asp-for="Phone" required="required">
            <input type="text" class="form-control" placeholder="ایمیل" autofocus asp-for="Email" required="required">
            <button class="btn btn-lg btn-login btn-block" type="submit">بازیابی رمز عبور</button>
        </div>

    </form>

</div>


</body>
</html>