@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/Admin/img/favicon.html">
    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Admin/css/style.css" rel="stylesheet">
    <link href="/Admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-body">

    <div class="container">
        <form class="form-signin" action="/Login" method="post">
            @if (ViewBag.ForgotPass == "true")
            {
                <p class="alert alert-info">رمز عبور شما به 123456 تغییر کرد . اکنون می توانید لاگین نمایید</p>
            }
            <h2 class="form-signin-heading">همین حالا وارد شوید</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="نام کاربری" autofocus asp-for="Username" required="required">
                <input type="password" class="form-control" placeholder="کلمه عبور" asp-for="Password" required="required">
                <label class="checkbox">
                    <span class="pull-right"> <a href="/ForgotPassword"> کلمه عبور را فراموش کرده اید؟</a></span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">ورود</button>
                <a class="btn btn-lg btn-success btn-block" style="color: white" href="/Register">ثبت نام</a>
            </div>
        </form>
    </div>

</body>
</html>
