<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/Admin/img/favicon.html">
    <title>It Company</title>
    <!-- Bootstrap core CSS -->
    <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Admin/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/Admin/css/style.css" rel="stylesheet">
    <link href="/Admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body>

    <section id="container" class="">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>

        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="/Admin">
                            <i class="icon-dashboard"></i>
                            <span>صفحه اصلی</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/UserList">
                            <i class="icon-user"></i>
                            <span>کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/GroupList">
                            <i class="icon-file"></i>
                            <span>گروه اصلی</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/ProductList">
                            <i class="icon-shopping-cart"></i>
                            <span>نمونه کار</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/EmailList">
                            <i class="ui-icon-mail-open"></i>
                            <span>آدرس ایمیل ها</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/SlideList">
                            <i class="icon-film"></i>
                            <span>اسلاید</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/MessageList">
                            <i class="icon-mail113"></i>
                            <span>پیام های دریافتی</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/EmployeeList">
                            <i class="icon-user216"></i>
                            <span>کارمندان</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Admin/CustomerList">
                            <i class="icon-money"></i>
                            <span>مشتریان</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Logout">
                            <i class="icon-arrow-left"></i>
                            <span>خروج از حساب کاربری</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        @RenderBody()
        <!--main content end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/Admin/js/jquery.js"></script>
    <script src="/Admin/js/jquery-1.8.3.min.js"></script>
    <script src="/Admin/js/bootstrap.min.js"></script>
    <script src="/Admin/js/jquery.scrollTo.min.js"></script>
    <script src="/Admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/Admin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="/Admin/js/owl.carousel.js"></script>
    <script src="/Admin/js/jquery.customSelect.min.js"></script>
    <script type="text/javascript" src="/Admin/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Admin/assets/data-tables/DT_bootstrap.js"></script>

    <!--common script for all pages-->
    <script src="/Admin/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="/Admin/js/sparkline-chart.js"></script>
    <script src="/Admin/js/easy-pie-chart.js"></script>

    <script>
        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });</script>

</body>
</html>

