@model List<ProductGroup>
@{
    Layout = "_AdminLayout";
    var i = 1;
}
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        جدول
                        <a class="btn btn-success" href="/Admin/CreateGroup">افزودن مورد جدید</a>
                    </header>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Title</td>
                                    <td>
                                        <a class="btn btn-danger" href="/Admin/DeleteGroup/@item.Id">حذف</a>
                                        <a class="btn btn-primary" href="/Admin/UpdateGroup/@item.Id">ویرایش</a>
                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>
                </section>
            </div>
        </div>

        <!-- page end-->
    </section>
</section>